body {
  background: #000;
  color: #fff;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
}

a {
  color: #7A963B;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

#header {
  width: 800px;
  margin: auto;
}

canvas {
	margin: auto;
	display: block;
}

#stage {
	width: 800px;
	margin: auto;
}

#instructions {
	width: 800px;
	line-height: 1.5em;
  margin: auto;
}
